<h3>{{viewTitle}}</h3>
<form action="/employee" method="POST" autocomplete="off">
<input type="hidden" name="_id" value="{{employee._id}}">
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="from-control" name="fullName" placeholder="Full Name" value="{{employee.fullName}}">
        <div class="text-danger">
            {{employee.fullNameError}}
        </div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="from-control" name="email" placeholder="Email" value="{{employee.email}}">
        <div class="text-danger">
            {{employee.emailError}} 
    </div>
    <div class="form-group">
        <label>Mobile</label>
        <input type="text" class="from-control" name="mobile" placeholder="Mobile" value="{{employee.mobile}}">
    </div>
      <div class="form-group">
        <label>City</label>
        <input type="text" class="from-control" name="city" placeholder="city" value=" {{employee.city}}">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-nfo"><i class="fa fa-database"></i>submit</button>
        <a class="btn btn-secondry" href="/employee/list"><i class="fa fa-list-alt"></i>View All</a>
    </div>
</form>